<div id="content">
	<div class="module module_vertically_padded">
		<div class="module_content clearfix">
			<div id="signup_section">
				<div class="page_header">
					<h3>Sign Up</h3>
			
					<div>
						<h6>Sign up to become Changayi:</h6>
						<fieldset class="inputs">
						<%= render 'form' %>
						</fieldset>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


