<div id="content">
	<div class="content_header">
		<h3>Sign up to become a changayi</h3>
	</div>
	<div class="content_left">
	
	</div>
	<div class="content_Signup">	
					<%= render 'form' %>
	</div>
</div>


