<div id="content">
	<div class="module module_vertically_padded">
		<div class="module_content clearfix">
			<div id="signup_section">
				<div class="page_header">
					<h3>Sign Up</h3>
			
					<div class="groupon_section">
						<h6>Sign up to become Changayi:</h6>
						<%= render 'form' %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<%= link_to 'Back', users_path %>
