body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

ul, ol {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

body {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    -x-system-font: none;
    background-attachment: scroll;
    background-color: #FFFFF;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    color: #333333;
    font-family: 'Helvetica Neue',Arial,Helvetica,FreeSans,sans-serif;
    line-height: 1.5;
}

.clearfix {
    display: block;
}

#container {
    min-width: 960px;
    position: relative;
	height: 100%;
}

#header_container {
    height: auto !important;
    min-height: 38px;
    padding-bottom: 0px;
}

#header {
    -moz-box-shadow: -2px 1px 2px 0 #587634;
    background-color: #282828;
    background-image: -moz-linear-gradient(center top , #333333 0%, #1A1A1A 100%);
    border-bottom-color: #54C2DC;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    height: 38px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

#header_inner {
    position: relative;    
	margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 80%;
}

#header_logo{
	padding-left: 16px;
    padding-right: 16px;
}

#header div.layer2 {
    left: 0px;
    position: relative;
    width: 100%;
}

#header_nav {
	padding-left: 200px;
    float: left;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

#header_nav li {
    position: relative;
	font-size: 1.0em;
    text-align: center;
    text-shadow: 0 1px 1px grey;
}

#header_nav li a {
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
}

#header ul a {
    color: #cccccc;
    text-decoration: none;
}

#header ul a:hover {
    background-color: transparent;
    border-top-color: #86B226;
    border-top-style: solid;
    border-top-width: 3px;
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    text-decoration: none;
}

#header ul li {
    float: left;
    padding-left: 0;
    padding-right: 0;
    white-space: nowrap;
}

#header ul.account_links {
    float: right;
    height: 38px;
}
#header ul.account_links li {
    font-size: 0.8em;
    line-height: 25px;
}
#header ul.account_links li a {
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 5px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
}
#header ul.account_links li a:hover {
    display: block;
    padding-bottom: 5px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 3px;
}

#header ul li.welcome {
    color: #FFFFFF;
    height: 38px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 2px;
    padding-top: 6px;
    position: relative;
}


#logo h1 {
    left: 5;
	right: 5;
    position: absolute;
    top: 0;
}

#logo h1 a {
	-moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("/assets/logo.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    height: 38px;
    text-indent: -10000px;
    width: 150px;
}

#main{
    height: auto !important;
    min-height: 480px;
    padding-bottom: 0px;
	position: relative;    
	margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    width: 100%;
	-moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
	-moz-box-shadow: -2px 1px 2px 0 #587634;
    background-attachment: scroll;
    background-color: #729A43;
	background-image: #b4e391; /* Old browsers */
	background-image: -moz-linear-gradient(left, #70AC16 0%, #9AC954 30%, #9AC954 50%, #9AC954 70%, #70AC16 100%); /* FF3.6+ */
	background-position: 0 0;
    background-repeat: repeat;
}

#content_container{
	margin-left: auto;
    margin-right: auto;
	padding-bottom: 20px;
    padding-top: 20px;
	width: 80%;
}

#box {
	-moz-box-shadow: -1px 1px 2px 2px #587634;
    background-attachment: scroll;
    background-color: white;
    background-image: white;
    background-position: -15px 0;
    background-repeat: no-repeat;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
	border-bottom-color: -moz-use-text-color;
    border-bottom-style: solid;
    border-bottom-width: 0;
}

.footer {
    color: #666666;
    font-family: 'Helvetica Neue',Arial,Helvetica,FreeSans,sans-serif;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
	height: 40px;
	position: relative;    
    width: 60%;
}

.footer_wrapper_top {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: #1A1A1A;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    border-top-color: #54C2DC;
    border-top-style: solid;
    border-top-width: 3px;
    width: 100%;
}

.footer ul li {
    float: left;
	left: 0;
    height: inherit;
    padding-bottom: 10px;
    padding-top: 8px;
    white-space: normal;
    width: 25%;
	text-decoration:none;
}

.footer ul a{
	color: #666666;
    text-decoration: none;
}
.footer ul li a{
	font-size: 0.8em;
	text-decoration:none;
}